[submodule "module3-solution"]
	path = module3-solution
	url = https://github.com/sushman8/module3-solution.git

[submodule "module4-solution"]
	path = module4-solution
	url = https://github.com/sushman8/module4-solution.git
